<nav role="navigation" class="navbar topnavbar">
    <div class="navbar-header">
        <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
            <div class="brand-logo">
                <img src="./app/img/logo.png" alt="App Logo" class="logo" />
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{'nav-item-selected': $state.current.name==='home.welcome'}">
                <a role="button" ui-sref="home.welcome" title="首页">
                    <span>首页</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="visible-lg">
                <a role="button" ui-sref="admin.dashboard"  title="后台页面">
                    <em class="fa fa-cogs">
                    </em>
                </a>
            </li>
            <li class="visible-lg">
                <a role="button" toggle-fullscreen="toggle-fullscreen" title="全屏">
                    <em class="fa fa-expand"></em>
                </a>
            </li>
            <li>
                <a href="" ng-click="app.offsidebarOpen = !app.offsidebarOpen" title="设置">
                    <em class="fa fa-wrench"></em>
                </a>
            </li>
        </ul>
    </div>
</nav>
