<div class="content-wrapper">
    <h3>
        <em class="fa fa-wpforms fa-fw"></em>&nbsp;表格
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    表格Demo|过滤器Demo
                    <span class="pull-right">
                        <a ng-click="table.search()">
                            <em class="fa fa-refresh"></em>
                        </a>
                    </span>
                </div>
                <div class="table-responsive" ng-class="{'whirl double-up': table.isLoading}">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>用户名</th>
                                <th>性别</th>
                                <th>邮箱</th>
                                <th>工资</th>
                                <th class="text-center">其它</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="item in table.userList">
                                <td>{{$index+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.sex | sexFilter}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.salary}}</td>
                                <td>
                                    <div class="checkbox c-checkbox">
                                        <label class="switch block-center">
                                            <input type="checkbox" ng-model="item.showDetail"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="item.showDetail" ng-repeat-end>
                                <td colspan="6">
                                    <p>
                                        所在地:
                                        {{item.proID | provinceFilter:table.provinceDict}}
                                        {{item.cityID | cityFilter:table.cityDict}}
                                        {{item.districtID | districtFilter:table.districtDict}}
                                    </p>
                                    <p>
                                        爱好:
                                        <span ng-repeat="fav in item.favors">{{fav | favorFilter: table.favorDict}}&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    分页Demo
                </div>
                <div class="panel-body">
                    <label for="totalCount">总条数</label>
                    <input type="text" class="form-control" name="totalCount" ng-model="table.pagination.itemsCount">
                </div>
                <div class="panel-footer clearfix">
                    <div class="col-md-12">
                        <div ui-pagination page-conf="table.pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
