body {
    position: relative;
    font-family: "Microsoft YaHei", sans-serif;
    padding-top: 50px;
}
h2, h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1px 0;
    padding: 0;
}

.row div {
    margin-top: 20px;
}
.navbar {
    margin-bottom: 0;
}
.base-info, .work-experience, .education-experience, .project-experience, .self-assessment {
    position: relative;
    padding: 70px 0 20px;
    margin: -50px 0 0;
}

/*基本信息*/

.base-info, .contact-me {
    color: #ffffff;
    background-color: #6f5499;
}

.base-info{
    text-align: center;
}

.base-info h1 {
    font-size: 60px;
}
.base-info p {
    font-size: 20px;
}

/*头像*/

.head-portrait {
    height: 200px;
    width: 200px;
}
