<nav role="navigation" class="navbar topnavbar">
    <div class="navbar-header">
        <a class="navbar-brand">
            <div class="brand-logo">
                <img src="./app/img/logo.png" alt="App Logo" class="logo" />
            </div>
            <div class="brand-logo-collapsed">
                <img src="./app/img/logo-single.png" alt="App Logo" class="logo-sm" />
            </div>
        </a>
    </div>
    <div class="nav-wrapper">
        <ul class="nav navbar-nav">
            <li>
                <a href="" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs" title="{{app.layout.isCollapsed?'展开菜单':'折叠菜单'}}">
                    <em class="fa fa-navicon"></em>
                </a>
                <a href="" ng-click="app.asideToggled = !app.asideToggled" class="visible-xs sidebar-toggle">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
            <li class="hidden-xs">
                <a href="" ng-click="toggleUserBlock()" title="当前用户">
                    <em class="fa fa-user"></em>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a role="button" ui-sref="home.welcome" title="前台页面">
                    <em class="fa fa-home">
                    </em>
                </a>
            </li>
            <li class="visible-md visible-lg">
                <a href="" toggle-fullscreen="toggle-fullscreen" title="全屏">
                    <em class="fa fa-expand"></em>
                </a>
            </li>
            <li>
                <a href="" ng-click="app.offsidebarOpen = !app.offsidebarOpen" title="设置">
                    <em class="fa fa-wrench"></em>
                </a>
            </li>
        </ul>
    </div>
</nav>
